body {
  background-color: #2E3440;
}
H1,
H2,
H3,
H4 {
  color: #D8DEE9;
}
.highlight {
  color: #EBCB8B;
}
.outerDiv {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 30px;
  background-color: #3B4252;
}
.innerDiv {
  padding: 15px;
  border-radius: 10px;
  background-color: #434C5E;
}
section > header {
  text-align: center;
}
#generalStats {
  flex-direction: column;
}
#generalStats main {
  display: flex;
  flex-direction: row;
}
#generalStats main #percentPie {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}
#generalStats main #percentStats {
  background-color: #434C5E;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: space-evenly;
}
#generalStats main #percentStats .statList {
  display: grid;
  grid-template-columns: 10% 35% 15% auto 15%;
}
#generalStats main #percentStats .statList .statLeon {
  color: #88C0D0;
}
#generalStats main #percentStats .statList .statKristi {
  color: #B48EAD;
}
#generalStats main #percentStats .statList .gridItem {
  align-self: center;
  justify-self: center;
}
#generalStats main #percentStats .statList .statBar {
  height: 69%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#generalStats main #percentStats .statList .statBar .barLeon {
  height: 100%;
  width: var(--size);
  background-color: #88C0D0;
}
#generalStats main #percentStats .statList .statBar .barKristi {
  height: 100%;
  width: var(--size);
  background-color: #B48EAD;
}
#perDay {
  display: flex;
  flex-direction: column;
}
#perDay main #perDayStats {
  display: flex;
  flex-direction: row;
  margin: 0 60px;
}
#perDay main #perDayStats section {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  background-color: #434C5E;
  margin: 0 60px;
}
#perDay main #perDayStats section .centerDiv {
  padding-top: 10px;
  padding-bottom: 10px;
}
#perDay main #perDayStats section .centerDiv h3 {
  margin: 0;
}
#activeTime {
  display: flex;
  flex-direction: column;
}
#activeTime main section {
  display: flex;
  flex-direction: row;
  height: 400px;
}
#activeTime main section #graph_4,
#activeTime main section #graph_5 {
  flex: 2 1 0;
}
#activeTime main section .innerDiv {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  padding: 0;
}
#activeTime main section .innerDiv H2 {
  display: flex;
}
#emojis .innerDiv {
  display: flex;
}
#emojis #emojiPie {
  flex-direction: row;
}
#emojis #emojiPie div {
  flex: 1 1 0;
  flex-direction: column;
}
#emojis #emojiPie div div {
  display: grid;
}
#emojis #otherThing {
  flex-direction: column;
}
