body {
  background-color: #2E3440;
}
H1,
H2,
H3,
H4 {
  color: #D8DEE9;
}
.outerDiv {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 30px;
  background-color: #3B4252;
}
#generalStats {
  flex-direction: row;
}
#generalStats #percGraphDiv {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}
#generalStats #percStatsDiv {
  display: grid;
  grid-template-columns: 10% 25% 15% auto 15%;
  grid-template-rows: repeat(4, 25%);
}
#generalStats #percStatsDiv .statLeon {
  color: #88C0D0;
}
#generalStats #percStatsDiv .statKristi {
  color: #B48EAD;
}
#perDay .innerDiv {
  display: flex;
  flex-direction: row;
  margin: 0 60px;
}
#perDay .innerDiv .divElement {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  background-color: #434C5E;
  margin: 0 60px;
  border-radius: 20px;
}
#perDay .innerDiv .divElement .centerDiv {
  padding-top: 10px;
  padding-bottom: 10px;
}
#perDay .innerDiv .divElement .centerDiv h3 {
  margin: 0;
}
#perDay .innerDiv .divElement span {
  color: #EBCB8B;
}
#activeTime .innerDiv {
  display: flex;
  flex-direction: row;
  height: 400px;
}
#activeTime .innerDiv #graph_4,
#activeTime .innerDiv #graph_5 {
  flex: 2 1 0;
}
#activeTime .innerDiv .divElement {
  flex: 1 1 0;
}
#activeTime .innerDiv .divElement H2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#emojis .innerDiv {
  display: flex;
}
#emojis #emojiPie {
  flex-direction: row;
}
#emojis #emojiPie div {
  flex: 1 1 0;
  flex-direction: column;
}
#emojis #emojiPie div div {
  display: grid;
}
#emojis #otherThing {
  flex-direction: column;
}
