@import "colors.less";

body{
   background-color: @nord0;
}

H1, H2, H3, H4{
   color: @nord4;
}

.outerDiv{
   display: flex;
   flex-direction: column;
   border: solid 1px;
   border-radius: 10px;
   padding: 10px;
   margin: 15px 30px;
   background-color: @nord1;
}

#generalStats{
   flex-direction: row;
   #percGraphDiv{
      display: flex;
      flex-direction: column;
      flex: 1 1 0;
   }
   #percStatsDiv{
      display: grid;
      grid-template-columns: 10% 25% 15% auto 15%;
      grid-template-rows: repeat(4, 25%);
         .statLeon{
            color: @nord8
         }
         .statKristi{
            color: @nord15
         }
   }
}

#perDay{
   .innerDiv{
      display: flex;
      flex-direction: row;
      margin:0 60px;
      .divElement{
         display: flex;
         flex: 1 1 0;
         align-items: center;
         justify-content: center;
         background-color: 
         @nord2;
         margin:0 60px;
         border-radius: 20px;
         .centerDiv{
            padding-top: 10px;
            padding-bottom: 10px;
            h3{
               margin: 0;
            }
         }

         span{
            color: @nord13;
         }
      }
   }
}

#activeTime{
   .innerDiv{
      display: flex;
      flex-direction: row;
      height: 400px;
      #graph_4, #graph_5{
         flex: 2 1 0;
      }
      .divElement{
         flex: 1 1 0;
         H2{
            display: flex;
            align-items: center;
            justify-content: center;
         }
      }
   }

}

#emojis{
   .innerDiv{
      display: flex;
   }
   #emojiPie{
      flex-direction: row;
      div{
         flex: 1 1 0;
         flex-direction: column;
         div{
            display: grid;
         }
      }
   }
   #otherThing{
      flex-direction: column;
   }
}